.continar{
  margin-bottom: 100px;
}
.carousel-item{
  padding: 30px;
} 
.by-now{
  background-image: linear-gradient(to bottom, #000000 0%, #000000FC 100%);
  color: #FFFFFFFC;
  border: none;
  border-radius: 5px;
  padding: 9px 250x;
  cursor: pointer
}
.cetago{
  text-align: center;
}
.order img{
  height: 350px;
  white: 350px;
}
.card{
  box-shadow: gray 5px 5px 10px;
  border-radius: 10px;
}